{% extends 'layouts/base.html.twig' %}

{% block main %}
    <div class="list-group">
        {% if posts %}
            {% for post in posts %}  
                <a href="/posts/{{ post.id }}" class="list-group-item mb-3 border-top border-dark rounded-0" aria-current="true">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">{{ post.title }}</h5>
                        <small>{{ post.created_at }}</small>
                    </div>
                    <p class="mb-1">{{ post.body|u.truncate(255, '...') }}</p>
                    <small class="text-muted">{{ post.username }}</small>
                </a>
            {% endfor %}
        {% else %}
            Список постов пуст.
        {% endif %}
    </div>
    {% include "components/post/pagination.html.twig" %}
{% endblock %}