{% extends 'layouts/base.html.twig' %}

{% block main %}
    {% if session().hasFlash('success') %}
        <div class="alert alert-success text-center">
            {% for message in session().getFlash('success') %}
                <p class="m-0">{{ message }}</p>
            {% endfor %}
        </div>
    {% endif %}
    {% if isAuth() %}
        {% if isCreator(post.username) %}
            <div class="d-flex justify-content-end">
                    <a href="/posts/{{ post.id }}/edit" class="btn btn-primary me-2">Изменить пост</a>
                    <form action="/posts/{{ post.id }}/delete" method="post">
                        <button class="btn btn-danger">Удалить пост</button>
                    </form>
            </div>
        {% endif %}
    {% endif %}
    <div class="bg-body-tertiary p-5 rounded">
        <h1>{{ post.title }}</h1>
        <p class="lead">{{ post.body }}</p>
    </div>
    {% if isAuth() %}
        <div class="mt-5 pt-2 border-top border-secondary">
            <h2>Оставить комментарий</h2>
            <form action="/comments/create" method="post">
                <input type="hidden" name="post_id" value="{{ post.id }}">
                <div class="mb-3">
                    <textarea name="comment" id="comment" cols="30" rows="5" class="form-control border-3" style="resize: none;" required></textarea>
                </div>
                <div class="text-end">
                    <button type="submit" class="btn btn-primary">Отправить</button>
                </div>
            </form>
        </div>
    {% endif %}
    <div class="mt-5">
        <h2>Список комментариев:</h2>
        {% if comments %}
            {% for comment in comments %}
                <div class="card mb-3">
                    <div class="card-body">
                        <p class="card-text">{{ comment.text }}</p>
                        <p class="card-text">Автор: {{ comment.author }}</p>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p>Список комментариев пуст.</p>
        {% endif %}
    </div>
{% endblock %}